@import 'src/scss/cards';

.card {
  @include card-mixin;
  width: 400px;
  height: 400px;
  margin: 20px 0;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  height: 405px;
  width: 405px;
}

.card-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-content {
  width: 100%;
  padding: 15px;
}

.card-title {
  font-size: 30px;
  font-weight: bolder;
  font-family: 'Nunito';
}
